body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color:#f0f1f6;
}
.main{
    background-color: white;
    width: 832px;
    margin: auto;
    padding: 20px;
}
.main-container{
    width: 800px;
    margin: auto;
    text-align:center;
}
.status{
    font-size: 59px;
    margin-top: 10px;
    text-align: left;
    color:#333333;
}
.image{
    width: 100%;
}
.pro {
    background-color: #f3183a;
    padding: 4px 8px;
    border: unset;
    color: #fff;
    margin: 12px;
    font-weight: 900;
}
.float{
    text-align: right;
    padding: 0 40px;
}
#avatar-image{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}
.main-container h2{
    margin-top: 30px;
    color: gray;
    font-size: 14px;
}
.main-container p.news{
    color: grey;
    font-size: 19px;
    text-align: justify;
    margin: 23px 0;
    line-height: 1.5;
    padding: 10px 0;
}
#summary{
    text-align: left;
}
div h3:first-of-type{
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    line-height: 2;
}
div h4:first-of-type{
    font-weight: bold;
    font-size: 16px;
}
#divider{
    border: 1px solid gray;
    margin: 45px 0;
}
.title{
    font-size: 19px;
    text-align: left;
}
.icons{
    border: 2px solid #fafafa;
    text-align: left;
    padding: 10px;
    background-color: #f4f2f2;
}
.inhome {
    display: inline-block;
    background-color: white;
    border-radius: 27px;
    margin-left: 0;
    padding: 7px;
}
.home{
    vertical-align: middle;
    font-size: 14px;
}
.text{
    text-align: left;
}
.social{
    color: white;
    text-align: center;
    margin-bottom: -23px;
}
.color{
    background-color: #ef2123;
    display: inline-block;
    color: white;
    padding: 7px 48px 7px 13px;
}
.social-btn{
    vertical-align: middle;
}
.width {
    width: 95px;
}
.tell{
    background-color: #3e3d9c;
    display: inline-block;
    color: white;
    padding: 7px 48px 7px 13px;
}
.youtube{
    background-color: #ea222e;
    display: inline-block;
    color: white;
    padding: 7px 48px 7px 13px;
}
.tweet{
    background-color: #1588ef;
    display: inline-block;
    color: white;
    padding: 7px 48px 7px 13px;
}
.skype{
    background-color: #1569b1;
    display: inline-block;
    color: white;
    padding: 7px 48px 7px 13px;
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin: 30px;
}
.user{
    color: #000000;
    font-size: 14px;
    padding-top: 12px;
    line-height: 30px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.username{
    color: #f3183a;
    padding-top: 10px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: left;
}
.part {
    margin-top: 54px;
    padding: 40px 0;
    text-align: left;
}
.border{
    background-color: #f1f1f1;
}
.carousel{
    border: 2px solid #e0e0e0;
    height: 100px;
    margin-top: 34px;
}
.arrow-right{
    float: right;
    margin: 27px 5px;
}
.end {
    float: left;
    text-align: right;
}
.blog{
    color: black;
    font-size: 14px;
    padding-right: 10px;
}
p.prev{
    color: black;
    margin: 4px 7px;
}
.svg{
    float: right;
    margin-top: 12px;
}
.arrow-left{
    float: left;
    margin: 27px 5px;
}
.start{
    float: right;
    text-align: left;
}
.blog-c{
    color: black;
    font-size: 14px;
    padding-left: 10px;
}
p.next{
    color: black;
    margin: 4px 7px;
}
@media (max-width: 400px){
    .home{
        font-size: 21px;
    }
}
@media (max-width: 400px){
    .width {
        font-size: 26px;
    }
}
@media (max-width: 400px){
    .user{
        font-size: 26px;
    }
}
@media (max-width: 400px){
    .username-m{
        font-size: 26px;
    }
}
@media (min-width: 600px){
    .username-m{
        display: none;
    }
}
@media (max-width: 400px){
    .username{
        display: none;
    }
}
@media (max-width: 400px){
    p.next,p.prev,.blog,.blog-c{
        font-size: 19px;
    }
}
@media (max-width: 400px){
    .img{
        margin: 48px 30px;
    }
}